<div class="px-3 py-4 shadow-sm 2xl:px-52">
  <div
    class="sticky top-0 z-10 flex items-center justify-between bg-white w-full"
  >
    <div class="flex items-center justify-start">
      <img class="w-48 h-14 object-contain" src="img/mitel-logo.png" />
      <img class="w-14 h-14 object-contain" src="img/logo.jpeg" />
    </div>
    <div class="hidden lg:flex lg:gap-5 items-center justify-end">
      <span class="text-lg font-semibold text-sky-500 cursor-pointer"
        >Home</span
      >
      <span class="text-lg font-semibold text-sky-500 cursor-pointer"
        >Large Enterprise</span
      >
      <app-button [title]="'9547895678'"></app-button>
    </div>
    <button
      class="bg-sky-500 w-8 h-8 p-2 rounded-md lg:hidden"
      (click)="onShowMenuDetail()"
    >
      <img src="img/{{ isShowMenuDetail ? 'close' : 'menu-icon' }}.svg" />
    </button>
  </div>
  <div
    class="bg-white w-full flex-col"
    [ngClass]="isShowMenuDetail ? 'flex lg:hidden' : 'hidden'"
  >
    <span
      class="py-3 px-2 text-lg font-semibold text-sky-500 border-b-[1px] cursor-pointer"
      >Home</span
    >
    <span
      class="py-3 px-2 text-lg font-semibold text-sky-500 border-b-[1px] cursor-pointer"
      >Large Enterprise</span
    >
    <div class="py-3 border-b-[1px]">
      <app-button [class]="'w-40'" [title]="'9547895678'"></app-button>
    </div>
  </div>
</div>
