<div class="flex flex-col 2xl:px-52 2xl:bg-gray-300">
  <img class="h-52" src="/img/img-footer.png" />
  <div
    class="bg-purple-800 flex flex-col gap-3 px-5 py-5 md:items-center lg:flex-row-reverse xl:justify-between xl:px-24"
  >
    <div
      class="flex flex-col gap-3 md:flex-row lg:flex-col lg:justify-between xl:flex-row"
    >
      <app-button [secondary]="true" [title]="'Vraag offerte aan'"></app-button>
      <app-button [secondary]="true" [title]="'9547895678'"></app-button>
    </div>
    <p class="text-white text-lg">
      ©Unify Software and Solutions GmbH & Co. KG 2024 alle rechten voorbehouden
    </p>
  </div>
</div>
