<div class="2xl:px-52 2xl:bg-gray-300">
  <!-- intro -->
  <div
    class="bg-feature-bg bg-no-repeat px-5 py-16 flex flex-col gap-10 lg:flex-row xl:px-52"
  >
    <div class="flex flex-col gap-10 items-start justify-center">
      <h1 class="text-white text-3xl font-semibold lg:text-5xl xl:text-3xl">
        Flexibele en efficiënte UC-oplossingen voor kleine en middelgrote
        bedrijven
      </h1>
      <app-button
        [class]="'w-64'"
        [secondary]="true"
        [title]="'Download Brochure'"
        (click)="openDialog()"
      ></app-button>
    </div>
    <img
      class="md:max-w-[80%] md:mx-auto lg:max-w-[50%] lg:h-1/2 cursor-pointer"
      src="/img/video-thumnail.png"
      (click)="
        openDialogVideo(
          'https://prodtcma.blob.core.windows.net/customer-resources/unify-partner-program/assets/Carousel%20Composition_BeNeLux%20%281%29.mp4?sv=2022-11-02&se=2024-08-11T16%3A21%3A48Z&sr=b&sp=r&sig=pk0yioq%2FZzTefHUKyY4Yy1eGlTSmiEk0sZlqO%2F5myfM%3D'
        )
      "
    />
  </div>
  <div class="flex flex-col gap-10 lg:flex-row lg:gap-0">
    <!-- form -->
    <div
      class="bg-gradient-to-r from-violet-900 to-fuchsia-900 px-5 py-12 lg:w-2/5 xl:px-20 2xl:px-24"
    >
      <h1 class="text-white text-3xl font-semibold mb-3">
        Neem contact meet ons op
      </h1>
      <form [formGroup]="formInfo" (ngSubmit)="onSubmit()">
        @for (input of contentFormInput; track $index) {
        <div class="flex flex-col gap-1 mt-3">
          <span class="text-base text-white"
            >{{ input.label }} {{ input.isRequire && "*" }}</span
          >
          <input
            id="{{ input.id }}"
            class="rounded-full h-10 py-2 px-3 text-lg"
            type="text"
            [formControl]="input.formControl"
          />
          @if (input.formControl.touched &&
          input.formControl.errors?.['required']) {
          <span class="text-red-500 text-sm font-thin">{{
            input.errLabel
          }}</span>
          }
        </div>
        }
        <!-- Selection -->
        <div class="flex flex-col gap-1 mt-3">
          <span class="text-base text-white">Hoe kunnen we u helpen? *</span>
          <div class="relative">
            <button
              type="button"
              class="flex items-center pl-3 pr-2 justify-between focus:outline-none w-full rounded-full h-10 bg-white"
              (click)="onSelectFormClick()"
              #toggleButton
            >
              <!-- <input
                type="text"
                class="hidden"
                [value]="renderSelectedContent(helpSelected)"
                [formControl]="formInfo.controls.help"
              /> -->
              <span
                class="leading-none text-base whitespace-nowrap overflow-hidden"
                #selected
                [ngClass]="helpSelected.length === 0 ? 'text-gray-400' : ''"
                >{{ renderSelectedContent(helpSelected) }}</span
              >
              <svg
                class="w-4 h-4 mt-px ml-2"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
            <div
              class="absolute flex-col mt-1 shadow-lg w-full rounded-md bg-white overflow-hidden"
              [ngClass]="isShowSelect ? 'flex ' : 'hidden'"
              #menu
            >
              <div
                class="h-12 flex w-full items-center justify-start hover:bg-gray-200 cursor-pointer"
              >
                <p
                  class="px-3 text-base max-w-96 text-ellipsis whitespace-nowrap overflow-hidden text-gray-400"
                >
                  - Hoe kunnen we u helpen? * -
                </p>
              </div>
              @for (slc of selectContent; track slc.id) {
              <div
                class="h-12 flex w-full items-center justify-start hover:bg-gray-200 cursor-pointer"
                (click)="onSelect(slc.id)"
              >
                <p
                  class="px-3 text-base max-w-96 text-ellipsis whitespace-nowrap overflow-hidden"
                >
                  {{ slc.value }}
                </p>
              </div>
              }
            </div>
          </div>
          @if (!helpSelected && !renderSelectedContent(helpSelected)) {
          <span class="text-red-500 text-sm font-thin"
            >Dit veld dient u inte vullen om veder tegann</span
          >
          }
        </div>
        <div class="flex flex-col gap-1 mt-3">
          <span class="text-base text-white">Opmerkingen</span>
          <textarea
            [cols]="50"
            [rows]="6"
            class="rounded-md py-2 px-3 text-lg"
            [formControl]="formInfo.controls.note"
          ></textarea>
        </div>
        <div
          class="flex gap-3 items-center justify-start mt-3 w-full text-white"
        >
          <input
            type="checkbox"
            [formControl]="formInfo.controls.acceptPolicy"
          />
          <p>
            Ik bevestig dat Impartner - Partners mijn persoonlijke gegevens mag
            gebruiken om contact met mij op te nemen. Impartner - Partners is
            verantwoordelijk voor de naleving van de geldende privacyregels*
          </p>
        </div>
        <button
          class="mt-3 bg-sky-500 w-52 border-2 border-sky-500 px-3 py-2 rounded-full text-white font-bold text-left relative hover:bg-white hover:text-sky-500 disabled:cursor-not-allowed"
          type="submit"
          [disabled]="formInfo.invalid"
        >
          <span class="px-3 flex justify-center items-center text-center"
            >Verstuur</span
          >
          <img
            class="w-3 h-3 object-contain absolute right-2 top-4"
            src="/img/arrow-right-white.svg"
          />
        </button>
      </form>
    </div>
    <!-- more -->
    <div class="bg-gray-100 px-5 py-12 lg:w-3/5">
      <h1 class="text-2xl font-bold text-sky-500">
        OpenScape Business biedt meer UC-functionaliteit in één oplossing dan
        enige andere leverancier
      </h1>

      <p class="text-lg font-medium">
        {{ content1s.label }}
      </p>
      <ul
        class="list-disc list-outside py-6 max-w-xs mx-auto md:max-w-xl lg:max-w-md"
      >
        @for (content1 of content1s.children; track $index) {
        <li class="text-lg">
          {{ content1.label }}
        </li>
        }
      </ul>
    </div>
  </div>
  <div class="bg-white px-5 pt-12 pb-5">
    <div
      class="flex flex-col justify-center items-center border-b-[1px] pb-12 lg:flex-row lg:gap-4 xl:mx-auto xl:max-w-5xl"
    >
      <img class="max-w-72 mx-auto" src="/img/unify-business.png" />
      <div class="flex flex-col gap-3 items-center lg:items-start">
        <h1
          class="text-sky-500 text-xl text-center font-bold my-2 lg:text-start lg:text-2xl"
        >
          Ontdek meer over OpenScape Business en waarom het de juiste oplossing
          is voor kleine en middelgrote bedrijven
        </h1>
        <app-button
          [title]="'Download Brochure'"
          (click)="openDialog()"
        ></app-button>
      </div>
    </div>
    <div class="flex flex-col gap-3 lg:flex-row">
      <div class="bg-white pt-12 flex flex-col gap-3 xl:px-32">
        <img
          class="max-w-72 mx-auto md:ml-0 md:max-w-96"
          src="/img/unify-switch.png"
        />
        <div>
          <span class="text-sky-500 text-2xl font-bold my-2"
            >OpenScape Business</span
          >
          <p class="text-base">
            Biedt één unieke gebruikservaring, waar u ook bent
          </p>
        </div>
        <div class="flex flex-col gap-3 md:flex-row">
          <app-button
            [title]="'OfferteAanvragen'"
            (click)="openDialogFull()"
          ></app-button>
          <app-button
            [title]="'Download Brochure'"
            (click)="openDialog()"
          ></app-button>
        </div>
        <span class="text-lg"
          >Moderne communicatiesystemen kunnen meer doen, dan alleen u helpen in
          contact te blijven met uw collega’s, ze kunnen u bedrijf ingrijpend
          veranderen. Ze kunnen de samenwerking tussen kantoren verbeteren en
          flexibel thuiswerken mogelijk maken.</span
        >
      </div>
      <div class="lg:px-2 xl:px-32">
        <p class="text-lg font-medium mt-4">
          {{ content2s.label }}
        </p>
        <ul
          class="list-disc list-outside py-6 max-w-xs mx-auto md:max-w-xl md:columns-2 md:gap-20"
        >
          @for (content2 of content2s.children; track $index) {
          <li class="text-lg">
            {{ content2.label }}
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
  <div
    class="bg-gray-100 px-5 py-10 flex flex-col lg:grid md:grid-cols-1 gap-3 lg:grid-cols-2 lg:items-center"
  >
    <div class="flex flex-col gap-3 xl:pl-24">
      <h1 class="text-2xl font-bold text-sky-500">Unify Phone</h1>
      <p class="text-black text-lg font-semibold">
        de softphone plug-in voor VoIP-telefonie voor OpenScape-platforms en
        Microsoft Teams
      </p>
      <p class="text-lg">
        Verbonden zijn in 2024 betekent dat u meerdere apparaten, apps en
        platformen gebruikt terwijl u wisselt tussen werken op kantoor, thuis of
        in de eerste lijn. U hebt een betrouwbare manier nodig om te
        communiceren zonder onderbrekingen, waar u ook bent.
      </p>
      <p class="text-lg font-medium mt-5">
        {{ content3s.label }}
      </p>
      <ul
        class="list-disc list-outside py-6 max-w-xs mx-auto md:max-w-xl lg:max-w-md"
      >
        @for (content3 of content3s.children; track $index) {
        <li class="text-lg">
          {{ content3.label }}
        </li>
        }
      </ul>
      <div class="flex flex-col gap-3 md:flex-row">
        <app-button
          [title]="'Download Brochure'"
          (click)="openDialog()"
        ></app-button>
        <app-button
          [class]="'w-full'"
          [secondary]="true"
          [title]="'Probeer Unify Phone 30-dagen gratis!'"
          (click)="openDialogFull()"
        ></app-button>
      </div>
    </div>
    <img
      src="/img/video-thumnail-phone.png"
      class="mt-5 cursor-pointer"
      (click)="
        openDialogVideo(
          'https://prodtcma.blob.core.windows.net/customer-resources/unify-partner-program/assets/Unify%20Phone_60%20sec_No%20Sound%20FX_WHITE_Dutch.mp4'
        )
      "
    />
    <div class="flex flex-col gap-5 md:flex-row md:items-center col-span-2">
      <div class="mt-5 flex flex-col items-center justify-center gap-4">
        <h1 class="text-3xl text-sky-500 md:text-xl">On premise / Hosted</h1>
        <div
          class="bg-white w-full rounded-md flex flex-col items-center justify-center px-14 py-16 md:w-44 md:h-72 md:px-0 lg:w-56 xl:w-72"
        >
          <img
            class="max-w-44 mx-auto md:scale-50 xl:scale-100"
            src="/img/unify-switch.png"
          />
          <p
            class="text-sm max-w-40 font-semibold tex-center md:scale-50 xl:scale-100"
          >
            OpenScape Business or OpenScape Business S
          </p>
        </div>
        <p class="text-sky-500 text-base text-center font-semibold xl:px-24">
          Maak verbinding met een lokale of gehoste OpenScape telefonie
          oplossing voor MKB/KMO
        </p>
      </div>
      <img
        class="w-16 mx-auto h-16 md:w-14 md:h-14 md:rotate-[-90deg]"
        src="/img/arrow-down-effect.png"
      />
      <div class="my-3 flex flex-col items-center justify-center gap-4">
        <h1 class="text-3xl text-sky-500 md:text-xl">Hybrid</h1>
        <div
          class="bg-white w-full rounded-md flex flex-col items-center justify-center px-14 py-16 md:w-44 md:h-72 md:px-0 lg:w-56 xl:w-72"
        >
          <img
            class="w-44 mx-auto md:scale-50 xl:scale-100"
            src="/img/unify-phone.png"
          />
        </div>
        <p class="text-sky-500 text-base text-center font-semibold xl:px-24">
          Unify Phone biedt een uniforme ervaring voor telefonie op elk apparaat
        </p>
      </div>
      <img
        class="w-16 mx-auto h-16 md:w-14 md:h-14 md:rotate-[-90deg]"
        src="/img/arrow-down-effect.png"
      />
      <div class="my-3 flex flex-col items-center justify-center gap-4">
        <h1 class="text-3xl text-sky-500 md:text-xl">Cloud</h1>
        <div
          class="bg-white w-full rounded-md flex flex-col items-center justify-center py-2 md:w-44 md:h-72 md:px-0 lg:w-56 xl:w-72"
        >
          <img class="w-44" src="/img/ms-cloud.png" />
        </div>
        <p class="text-sky-500 text-base text-center font-semibold xl:px-24">
          Eenvoudige integratie met cloud applicaties voor efficienter
          samenwerken
        </p>
      </div>
    </div>
  </div>
  <div class="bg-white px-5 py-14 flex flex-col gap-5 xl:px-24">
    <div class="flex gap-3 md:items-center md:justify-center">
      <div class="flex flex-col gap-4">
        <span class="text-sky-500 text-2xl font-bold my-2">Over ons</span>
        <img
          class="w-14 h-14 object-contain mt-2 lg:w-24 lg:h-24"
          src="img/logo.jpeg"
        />
        <p class="text-base lg:text-lg">
          Lorem ipsum dolor sit amet. Et laudantium dolores et corrupti culpa ex
          dolor suscipit est adipisci fugiat eos cupiditate facilis. Sit officia
          omnis qui consequatur veritatis et deleniti modi qui accusantium
          accusantium.
        </p>
        <p class="text-base font-semibold lg:text-lg">
          Impartner - Partners is een vertrouwde partner van Unify
        </p>
      </div>
      <img
        class="hidden md:block w-72 lg:w-[500px]"
        src="/img/telenet-business.png"
      />
    </div>
    <div
      class="flex flex-col gap-3 md:flex-row md:items-center md:justify-start"
    >
      <app-button
        [class]="'w-72'"
        [title]="'Adviesgesprek aanvragen'"
        (click)="openDialogFull()"
      ></app-button>
      <app-button [class]="'w-36'" [title]="'9547895678'"></app-button>
    </div>
    <img class="block md:hidden" src="/img/telenet-business.png" />
  </div>
</div>
